@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background: linear-gradient(236.85deg, #041832 27.26%, #565fc9 96.03%);
    font-family: 'Roboto', sans-serif;



}

.container {
    background: rgb(222, 229, 253);
    color: #1C1C1C;
    margin: 64px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #0E1D2F;
    padding: 64px;

}

.perfilFoto {
    border-radius: 50%;
    max-height: 160px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.titulo {
    margin-left: 16px;
}

.titulo h1 {
    font-weight: 700;
    font-size: 36px;
}

.titulo h3 {
    font-weight: 400;
    font-size: 24px;
}


.cabeçalho {
    display: flex;
    justify-content: space-between;
}


.perfil {
    display: flex;


}



.tema button {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 400;
    padding: 8px 16px;
    background: #ecf4ff;
    border-radius: 100px;
    box-shadow: 3px 3px 3px #2d2d2e;

}

.projetos {
    display: flex;
    flex-direction: column;
    background: linear-gradient(236.85deg, #92b3df 27.26%, #bac1fd 96.03%);
    box-shadow: 6px 6px 6px #dce6f3;
    margin-top: 32px;
    padding: 32px;
    border-radius: 20px;


}

.projetos-titulo {
    font-size: 32px;
    font-weight: 700;
    list-style: none;
}

.projetos-item {
    list-style-type: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 45px;
}

.projetos-item a {
    color: #1C1C1C;
    text-decoration: none;
}

.dark{
    background: linear-gradient(236.58deg, #245999 27.26%, #6b87a9 96.03%);

}

.dark .container{
    background:#333439;
    color: whitesmoke;
    
}

.dark .projetos{
    color: #1C1C1C;
}

.dark .tema button{
    background: #1C1C1C;
    color: aliceblue;
    border: 2px solid #f7f7f7;
    box-shadow: 3px 3px 3px #dce6f3;
    
}